.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(241, 145, 145, 255);
  padding: 10px;
}

.logo {
  width: 150px;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}
