<div class='wrapper'>
  <div class='logo'>
    <a routerLink='/'>
      <img alt='' src='./assets/logo.svg'>
    </a>
  </div>

  <div class='right'>
    <ng-container *ngIf='authService.isAuthorized$ | async; else isNotAuth'>
      <app-button routerLink='/account' [text]='myProfileText$ | async'></app-button>
      <app-button routerLink='/' [text]='logoutText' (click)='logout()'></app-button>
    </ng-container>
    <ng-template #isNotAuth>
      <app-button routerLink='/login' [text]='loginText'></app-button>
      <app-button routerLink='/registration' [text]='registerText'></app-button>
    </ng-template>
  </div>
</div>
