:host {
  text-align: center;
}

button {
  width: 100%;
  border: 1px solid rgba(211, 179, 241, 255);
  background: #fff;
  padding: 7px;
  transition: .5s;
}

button[disabled] {
  pointer-events: none;
  background: #eee;
}

button:hover {
  background: #eee;
  cursor: pointer;
}
