<h1>My information</h1>

<ul *ngIf="userStoreService.user$ | async as user">
  <li><strong>Id:</strong> {{ user?.id }}</li>
  <li><strong>Name:</strong> {{ user?.name }}</li>
  <li><strong>Email:</strong> {{ user?.email }}</li>
  <li><strong>Role:</strong> {{ user?.role }}</li>
</ul>
