<h2>Login</h2>
<form #loginForm='ngForm'>
  <ul class='form-list'>
    <li class='form-list-item'>
      <label for='email'>Email</label>
      <input type='text' name='email' id='email' required #email='ngModel' ngModel appCustomEmailValidator
             [class.is-invalid]='(email.touched || email.dirty) && !email.valid'>
      <div *ngIf='email.dirty || email.touched'>
        <small *ngIf='email.errors?.required' class='error'>
          Email is required.
        </small>
        <small *ngIf='email.errors?.emailIsInvalid && !email.errors?.required' class='error'>
          Format of email is invalid.
        </small>
      </div>
    </li>
    <li class='form-list-item'>
      <label for='password'>Password</label>
      <input type='password' name='password' id='password' required #password='ngModel' ngModel
             appTogglePasswordType
             [class.is-invalid]='(password.touched || password.dirty) && !password.valid'>
      <div *ngIf='password.dirty || password.touched'>
        <small *ngIf='password.errors?.required' class='error'>
          Password is required.
        </small>
      </div>
    </li>
  </ul>
  <app-button [text]="'Login'" [disabled]='!loginForm.valid' (click)='login(loginForm.value)'></app-button>
</form>
<div class='form-addition'>
  <span>If you don't have an account you can</span>
  <br>
  <a routerLink='/registration'>Registration</a>
</div>
