:host {
  width: 100%;
}

h3 {
  text-align: center;
}

form {
  gap: 0;
}

.addition-block {
  display: flex;
  border: 1px solid rgba(148, 147, 147, 255);
  padding: 20px;
}

.left-part,
.authors-list {
  flex-basis: 50%;
}

.authors-list li {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.authors-list li:last-child {
  margin: 0;
}

.form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-block:last-child {
  margin: 0;
}

.form-block.row {
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.author-button {
  width: 30%;
  margin: 10px auto 0;
}

.submit-button {
  flex: 1 1 auto;
}
