<form *ngIf="course$ | async; else loading" [formGroup]='newCourseForm'>
  <div class='form-block row'>
    <div class='content'>
      <label for='title'>Title</label>
      <input type='text' name='title' id='title' required formControlName='title'
             [class.is-invalid]="isInvalid('title')">
      <div *ngIf="newCourseForm.get('title').dirty || newCourseForm.get('title').touched">
        <small *ngIf="newCourseForm.get('title').hasError('required')" class='error'>
          Title is required.
        </small>
      </div>
    </div>
    <app-button class='submit-button' [text]="'Update'" [disabled]='!isFormValid()' (click)='confirm(newCourseForm.value)'></app-button>
  </div>
  <div class='form-block'>
    <label for='description'>Description</label>
    <textarea name='description' id='description' rows='10' required formControlName='description'
              [class.is-invalid]="isInvalid('description')">
      </textarea>
    <div *ngIf="newCourseForm.get('description').dirty || newCourseForm.get('description').touched">
      <small *ngIf="newCourseForm.get('description').hasError('required')" class='error'>
        Description is required.
      </small>
    </div>
  </div>
  <div class='addition-block'>
    <div class='left-part'>
      <div class='form-block'>
        <h3>Add authors</h3>
        <label for='newAuthor'>Author name</label>
        <input type='text' name='newAuthor' id='newAuthor' required formControlName='newAuthor'>
        <app-button class='author-button' [text]="'Create author'" [disabled]="!newCourseForm.get('newAuthor').valid"
                    (click)="onAuthorAdd(newCourseForm.get('newAuthor').value)"></app-button>
      </div>
      <div class='form-block'>
        <h3>Add authors</h3>
        <label for='duration'>Duration</label>
        <input type='number' name='duration' id='duration' required formControlName='duration'
               (input)='setDuration($event)'
               [class.is-invalid]="isInvalid('duration')">
        <div *ngIf="newCourseForm.get('duration').dirty || newCourseForm.get('duration').touched">
          <small *ngIf="newCourseForm.get('duration').hasError('required')" class='error'>
            Duration is required.
          </small>
        </div>
        <span>Duration: <strong>{{ duration | minutesToHours }}</strong></span>
      </div>
    </div>
    <div class='authors-list'>
      <div class='form-block'>
        <h3>Authors list</h3>
        <ul formArrayName='authors'>
          <li *ngFor='let item of authors.controls; let i = index'>
            <input type='text' formControlName='{{i}}'>
            <app-button [text]="'Delete author'"
                        (click)='onAuthorRemove(item.value)'></app-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>

<ng-template #loading>
  Loading...
</ng-template>
