<h2>Registration</h2>
<form [formGroup]='registerForm'>
  <ul class='form-list'>
    <li class='form-list-item'>
      <label for='register-name'>Name</label>
      <input type='text' name='register-name' id='register-name' required formControlName='name'
             [class.is-invalid]="isInvalid('name')">
      <div *ngIf="registerForm.get('name').dirty || registerForm.get('name').touched">
        <small *ngIf="registerForm.get('name').hasError('required')" class='error'>
          Name is required.
        </small>
      </div>
    </li>
    <li class='form-list-item'>
      <label for='register-email'>Email</label>
      <input type='text' name='register-email' id='register-email' required formControlName='email'
             [class.is-invalid]="isInvalid('email')">
      <div *ngIf="registerForm.get('email').dirty || registerForm.get('email').touched">
        <small *ngIf="registerForm.get('email').hasError('required')" class='error'>
          Email is required.
        </small>
        <small
          *ngIf="registerForm.get('email').hasError('emailIsInvalid') && !registerForm.get('email').hasError('required')"
          class='error'>
          Format of email is invalid.
        </small>
      </div>
    </li>
    <li class='form-list-item'>
      <label for='register-password'>Password</label>
      <input type='password' name='register-password' id='register-password' required formControlName='password'
             [class.is-invalid]="isInvalid('password')">
      <div *ngIf="registerForm.get('password').dirty || registerForm.get('password').touched">
        <small *ngIf="registerForm.get('password').hasError('required')" class='error'>
          Password is required.
        </small>
      </div>
    </li>
  </ul>
  <app-button [text]="'Registration'" [disabled]='!registerForm.valid' (click)='register(registerForm.value)'></app-button>
</form>
<div class='form-addition'>
  <span>If you have an account you can</span>
  <br>
  <a routerLink='/login'>Login</a>
</div>
