<ng-container *ngIf="hasCourses$ | async; else addCourseTmpl">
  <app-search [placeholder]="'Enter the course name'"></app-search>
  <div *ngFor="let course of courses$ | async">
    <app-course [course]='course' (deleteId)='onDeleteCourse($event)'></app-course>
  </div>
  <app-button *ngIf='authService.isAuthorized$ | async' routerLink='/courses/add' [text]='"Add new course"'></app-button>
</ng-container>

<ng-template #addCourseTmpl>
  <app-info
    [buttonText]="'Add new course'"
    [text]="'Please use the \'Add new course\' button to add your first course'"
    [title]="'Your list is empty'"
  ></app-info>
</ng-template>
