/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

h2, h3 {
  margin: 0;
}

ul > li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid rgba(164, 212, 239, 255);
}

.d-none {
  display: none;
}

.error {
  color: #dc3545;
}

.is-invalid {
  border: 1px solid #dc3545 !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-list {
  padding: 0;
  margin-bottom: 0;
}

.form-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-list-item:last-child {
  margin: 0;
}

label {
  font-weight: bold;
}

input, textarea {
  margin: 5px 0;
  border: 1px solid rgba(243, 160, 86, 255);
  border-radius: 0;
  font-size: 16px;
}

.form-addition {
  margin-top: 20px;
  text-align: center;
}

.pass-type {
  width: fit-content;
  margin-left: auto;
  font-weight: bold;
  cursor: pointer;
}
