<form #searchForm='ngForm'>
  <input type='text' name='search' id='search' [placeholder]='placeholder' required ngModel appCustomEmailValidator>
  <app-button [text]="'Search'" (click)='onSearch(searchForm.value)'></app-button>
</form>
