.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #777;
  padding: 10px;
  gap: 10px;
}

.left {
  flex-basis: 75%;
}

.right {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  justify-content: flex-start;
}

.right > * {
  padding: 5px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}
