<div class='wrapper'>
  <div class='left'>
    <h2>{{ course?.title }}</h2>
    <span>{{ course?.description }}</span>
  </div>

  <div class='right'>
    <span><strong>Authors: </strong> {{ course?.authors.join(', ') }}</span>
    <span><strong>Duration: </strong> {{ course?.duration | minutesToHours }}</span>
    <span><strong>Created: </strong> {{ course?.creationDate | creationDate:'dd.MM.yyyy' }}</span>
    <div class='buttons' *ngIf='authService.isAuthorized$ | async'>
      <app-button routerLink="/courses/edit/{{ course.id }}" [icon]='ICONS.pen'></app-button>
      <app-button [icon]='ICONS.trash' (click)='deleteCourse(course.id)'></app-button>
    </div>
  </div>
</div>
